Technical Documentation/Base Services/Assurpharma/ASSURPHARMA - xsd/system-services.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://services.gfddpp.be" targetNamespace="http://services.gfddpp.be/systemservices/v2">
	<xs:element name="systemServices">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="version" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
				<xs:element name="systemServicesList" minOccurs="1" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="systemServicesEntry" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="system" minOccurs="1" maxOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="systemType" type="xs:string" minOccurs="1" maxOccurs="1"/>
													<xs:element name="systemId" type="xs:string" minOccurs="1" maxOccurs="1"/>
												</xs:sequence>
											</xs:complexType>							    		
										</xs:element>
										<xs:element name="service" minOccurs="1" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="serviceName" type="xs:string" minOccurs="1" maxOccurs="1"/>
													<xs:element name="URI" type="xs:string" minOccurs="1" maxOccurs="1"/>
												</xs:sequence>
											</xs:complexType>							    		
										</xs:element>
										<xs:element name="contractList" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="contractEntry" minOccurs="1" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="contractType" type="xs:string" minOccurs="1"/>
																<xs:element name="contractPartyList" minOccurs="1">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="contractPartyEntry" minOccurs="1" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="contractPartyType" type="xs:string" minOccurs="1"/>
																						<xs:element name="contractPartyID" type="xs:string" minOccurs="1"/>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>		    		
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>   
	</xs:element>
</xs:schema>